body {
    text-align: center; 
    color: #fafafa;
    background-color: black;
    font-family: 'Gothic A1', sans-serif;
}

.bops {
    display: none;
}
.pulls {
    display: none;
}
.twists {
    display: none;
}
.losing {
    display:none;
}
.timeout {
    display:none;
}
.score{
    text-align:right;
    padding-right: 40px;
}
.game-buttons {
    text-align:center;
}
.hotkeys {
    text-align: right;
    padding-right:40px;
}
.row {
    text-align: center
}

button {
    width: 105px;
}

/*For small media, make the buttons smaller*/
@media (max: 361) {
    .btn {
        width:100%;      
    }
}
