body {
    text-align: center;
    height: 100%;
    color: #fafafa;
    background-color: black;
    font-family: 'Gothic A1', sans-serif;
}

/*MODAL*/

.modal {
    color: #333;
}

.modal-footer {
    text-align: center;
}


.btn {
    box-shadow: 0px 0px 25px #d3d3d3;
    border-radius: 2px;
}

.bops {
    display: none;
}

.pulls {
    display: none;
}

.twists {
    display: none;
}

.losing {
    display: none;
}

.timeout {
    display: none;
}

.score {
    text-align: right;
    padding-right: 10%;
}

.game-buttons {
    text-align: center;
}

.hotkeys {
    text-align: right;
    padding-right: 10%;
}

.row {
    text-align: center
}

button {
    width: 105px;
}

/*For small media, make the buttons smaller*/

@media (min:736) {
    #rotateScreenModal {
        display: none;
    }
}

@media (max: 361) {
    .btn {
        width: 100%;
    }
    body {
        left: 15%;
    }
}
